@Styles.Render("~/bundles/categoriesCSS")
@using BackOffice_COCO_TRIP.Helpers
@model IEnumerable<BackOffice_COCO_TRIP.Datos.Entidades.Evento>

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Lista de Eventos </h2>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css ">


@using (Html.BeginForm("enviarFilterEvent", "M8Events", FormMethod.Get, htmlAttributes: new { @class = "form-horizontal" }))
{

  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="card">
      <div class="container-fluid pad-top">
        <div class="form-group row">
          @Html.Label("Categoria", htmlAttributes: new { @class = "col-sm-2 control-label" })
          <div class="col-sm-10">
            @Html.DropDownListCategoriesEvents("Mover a la categoria", ViewBag.MyList as IList<BackOffice_COCO_TRIP.Datos.Entidades.Categoria>, htmlAttributes: new { @class = "form-control" })
          </div>
          
            <div class="col-md-offset-2 col-md-10">
              <input type="submit" value="Filter" class="btn btn-default" />
            </div>
          
        </div>

      </div>

    </div>
   @if (Model != null) {
    <table width="100%" class="table table-striped table-bordered" id="example" cellspacing="0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripci&oacute;n</th>
          <th>Precio</th>
          <th>Fecha Inicio</th>
          <th>Opciones</th>

        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>

            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
            <td>@Html.DisplayFor(modelItem => item.Precio)</td>
            <td>@Html.DisplayFor(modelItem => item.FechaInicio.Date)</td>

            <td>
              <a class="btn btn-default circle" href="@Url.Action("Delete", "M8Events", new { id = item.Id })" data-toggle="tooltip"
                 data-placement="top" title="Eliminar Evento">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
              </a>
              <a class="btn btn-default circle" href="@Url.Action("Select", "M8Events", new { id = item.Id })" data-toggle="tooltip"
                 data-placement="top" title="Ver Evento">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </a>

              <a class="btn btn-default circle" href="@Url.Action("Edit", "M8Events", new { id = item.Id })" data-toggle="tooltip"
                 data-placement="top" title="Editar Evento">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>

            </td>

          </tr>
        }
      </tbody>
    </table>
   }
  </div>

}
