@Styles.Render("~/bundles/categoriesCSS")
@using BackOffice_COCO_TRIP.Helpers
@model BackOffice_COCO_TRIP.Datos.Entidades.Categoria
<div class="card color-texto">
  <div class="container-fluid pad-top">
    <div><h4>Ingrese los datos:</h4></div>
    <div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
    <hr>

    @using (Html.BeginForm("Create", "Categories", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
      {
      @Html.AntiForgeryToken()
      
      <div class="form-group row">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
          @Html.TextBoxFor(model => model.Name, "", htmlAttributes: new { @class = "form-control" })
          @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
      </div>

        <div class="form-group row">
          @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-sm-2 control-label" })
          <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Description, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group row">
          @Html.Label("Categoria superior", htmlAttributes: new { @class = "col-sm-2 control-label" })
          <div class="col-sm-10">
            @Html.DropDownList("Categoria superior", ViewBag.MyList as IList<BackOffice_COCO_TRIP.Datos.Entidades.Categoria>, htmlAttributes: new { @class = "form-control" })
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary pull-right">Agregar Categoria</button>
          </div>
        </div>

    }
  </div>
</div>

