
@Styles.Render("~/bundles/categoriesCSS")
@model IEnumerable<BackOffice_COCO_TRIP.Datos.Entidades.Categoria>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css ">

<div class="loader" id="loader"></div>
<div class="fondo-opaco" id="fondo-opaco"></div>
<div class="card">
  <div class="container-fluid pad-top">
    <div class="color-texto"><h4>Lista de Categorias</h4></div>
    <div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
    <hr>
    <table width="100%" class="table table-striped table-bordered" id="example" cellspacing="0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripci&oacute;n</th>
          <th>Opciones</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>

            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
              <a class="btn btn-default circle" href="@Url.Action("Index", "Categories", new { id = item.Id })" data-toggle="tooltip"
                 data-placement="top" title="Listar subcategorias">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
              </a>
              
              <button type="button" class="btn btn-default circle ver-categoria" aria-label="Left Align" data-toggle="tooltip" data-placement="top"
                      title="Ver mas" data-name="@item.Name" data-description="@item.Description">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>

              <a class="btn btn-default circle" href="@Url.Action("Edit", "Categories", new { id = item.Id })" data-toggle="tooltip"
                 data-placement="top" title="Editar">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>

            </td>
            <td>@Html.CheckBoxFor(modelItem => item.Status, new { @data_categoria_id = item.Id, @data_categoria_name = item.Name}) Activado</td>

          </tr>
        }
      </tbody>
    </table>
  </div>
</div>



<!--MODAL-->

<div class="modal fade" id="mostrarCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Detalles de la categoria</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" id="categories-name-details" readonly>
          </div>
          <div class="form-group">
            <label for="descripcion" class="col-form-label">Descripcion:</label>
            <textarea class="form-control" id="categories-description-details" readonly></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



@section scripts {
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js "></script>
  <!-- BOOTSTRAP SCRIPTS -->
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  @Scripts.Render("~/bundles/categoriesJS")

}


