@Styles.Render("~/bundles/categoriesCSS")
@model IEnumerable<BackOffice_COCO_TRIP.Datos.Entidades.Localidad>

@{
    ViewBag.Title = "Localidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css ">
<h2>Lista de Localidades</h2>
<div class="loader" id="loader"></div>
<div class="fondo-opaco" id="fondo-opaco"></div>
<div class="card">
  <div class="container-fluid pad-top">
    <div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
    <table width="100" class="table table-striped table-bordered" id="example" cellspacing="0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripci&oacute;n</th>
          
          <th>Opciones</th>
       
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
          
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
            
            
            <td>
              <a class="btn btn-default circle" href="@Url.Action("Delete", "M8_Localidad", new { id = item.Id })" data-toggle="tooltip"
                 data-placement="top" title="Eliminar Localidad">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
              </a>
              <a class="btn btn-default circle" href="@Url.Action("Select", "M8_Localidad", new { id = item.Id })" data-toggle="tooltip"
                 data-placement="top" title="Ver Localidad">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </a>
              
              <a class="btn btn-default circle" href="@Url.Action("Edit", "M8_Localidad", new { id = item.Id })" data-toggle="tooltip"
                 data-placement="top" title="Editar">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>

            </td>
          
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
