<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Perfil' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <ion-title text-center><img alt="logo" src="https://notasdemascotas.com/wp-content/uploads/2015/02/que-hacer-cuando-traes-un-gatito-a-casa-324x235.jpg" class="imagen-perfil"></ion-title>
  <h2 class="titulo">
    {{ usuario.getNombre }} {{ usuario.getApellido }}
  </h2>
  <p class="titulo">  <ion-icon name="ios-mail"></ion-icon> {{ usuario.getCorreo }} </p>
  <p class="titulo">  <ion-icon name="ios-pin"></ion-icon>  Venezuela</p>
  <br>
  <ion-list>
    <button [navPush]="editProfile" [navParams]="usuario" ion-item>
      <ion-icon name="md-person"></ion-icon>
      {{ 'Editar Datos Personales' | translate }}
    </button>
    <button ion-item  [navPush]="editarPreferences">
      <ion-icon name="md-brush"></ion-icon>
      {{ 'Editar Preferencias' | translate }}
    </button>
    <button [navPush]="configureProfile" [navParams]="usuario" ion-item>
      <ion-icon name="md-settings"></ion-icon>
      {{ 'Configuración' | translate }}
    </button>
    <button [navPush]="deleteAccount" [navParams]="usuario" ion-item>
      <ion-icon name="md-trash"></ion-icon>
      {{ 'Borrar Cuenta' | translate }}
    </button>
  </ion-list>

</ion-content>
