@Styles.Render("~/bundles/lugares_addCSS")

<div class="row">
  <div class="content-form card">
    <br><br>

    <form class="form-horizontal" method="post" action="Create">
      <div class="form-group form-group-imagen-lugar">
        <label class="col-sm-2 control-label" for="perfilphoto">Im&aacute;genes del lugar</label>
        <input class="col-sm-6" type="file" id="perfilphoto" name="fotoLugar">
        <p class="help-block col-sm-9">La foto seleccionada se ver&aacute; en el lugar tur&iacute;stico</p>
      </div>

      
      <div class="row row-nombre-costo-estado">

        <div class="col-md-4">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label" style="margin-left: -3%; margin-right: 3%;">Nombre</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="Nombre lugar tur&iacute;stico..." name="Nombre" required>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="number" class="col-sm-2 control-label">Costo</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="costo" placeholder="ej. 120" name="Costo" required>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="category" class="col-sm-4 control-label">Estado</label>
            <div class="col-sm-8">
              <select class="form-control" id="category" name="activar" required>
                <option selected disabled>Elige una estado</option>
                <option>Activo</option>
                <option>Inactivo</option>
              </select>
            </div>
          </div>
        </div>

      </div> 

      <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">

                  <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Categor&iacute;as y Subcategor&iacute;as
                  </div>

                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

            
                  <div class="row">

                    <div class="col-md-5 center-block">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria" name="categoria_0" required>
                            <option selected disabled>Elige una categor&iacute;a</option>

                            @foreach (var categoria in ViewBag.Categoria)
                            {
                                <option>@categoria.Name</option>
                            }

                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5 center-block">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria" name="categoria_1"required>
                            <option selected disabled>Elige una categor&iacute;a</option>
                            @foreach (var categoria in ViewBag.Categoria)
                            {
                              <option>@categoria.Name</option>
                            }

                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5 center-block">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria" name="categoria_2" required>
                            <option selected disabled>Elige una categor&iacute;a</option>

                            @foreach (var categoria in ViewBag.Categoria)
                            {
                                <option>@categoria.Name</option>
                            }

                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5 center-block">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria" name="categoria_3" required>
                            <option selected disabled>Elige una categor&iacute;a</option>

                            @foreach (var categoria in ViewBag.Categoria)
                            {
                            <option>@categoria.Name</option>
                            }

                          </select>
                        </div>
                      </div>
                    </div>

                    @*<div class="col-md-5">
                      <div class="form-group">
                        <label for="subcategoria" class="col-sm-4 control-laahgbel">Sub-Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="subcategoria" name="subcategoria_@(contador+1) ">
                            <option selected disabled>Elige una sub-categor&iacute;a</option>

                            @foreach (var subCategoria in ViewBag.SubCategoria)
                            {

                              if (subCategoria.UpperCategories == categoria.Id)
                              {
                                  <option>@subCategoria.Name</option>
                              }
                            }


                          </select>
                        </div>
                      </div>
                    </div>*@

                  </div>

              

            

                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">

                  <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Horarios
                    <i class="fa fa-calendar icon-horario-actividad" aria-hidden="true"></i>
                  </div>

                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia" name="dia_0">                          
                          <option>Lunes</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico..." name="Horario[0].HoraApertura" required>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico..." name="Horario[0].HoraCierre" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia" name="dia_1">
                          <option>Martes</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico..." name="Horario[1].HoraApertura" required>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico..." name="Horario[1].HoraCierre" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia" name="dia_2">
                          <option>Miercoles</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico..." name="Horario[2].HoraApertura" required>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico..." name="Horario[2].HoraCierre" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia" name="dia_3">
                          <option>Jueves</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico..." name="Horario[3].HoraApertura" required>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico..." name="Horario[3].HoraCierre" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia" name="dia_4">                       
                          <option>Viernes</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico..." name="Horario[4].HoraApertura" required>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico..." name="Horario[4].HoraCierre" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia" name="dia_5">
                          <option>Sabado</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico..." name="Horario[5].HoraApertura" required>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico..." name="Horario[5].HoraCierre" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia" name="dia_6">
                          <option>Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico..." name="Horario[6].HoraApertura" required>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico..." name="Horario[6].HoraCierre" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">

        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  
                    <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Actividades
                      <i class="fa fa-plus-circle icon-add-actividad" aria-hidden="true"></i>
                    </div>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <form class="form-inline">

                    <div class="row row-info-actividades">
                      Para activar las actividades seleccionar el checkbox
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label class="control-label" for="actividadphoto">Imagen Actividad</label>
                          <input type="file" id="actividadphoto" name="fotoActividad_1">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInputName2">Duraci&oacute;n(min)</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="ej. 120" name="Actividad[0].Duracion">
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <!-- RADIOBOX -->
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="Actividad[0].Activar">
                            <span class="custom-control-indicator"></span>
                          </label>
                          <!-- /RADIOBOX -->
                          <label for="exampleInputName2">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="ej. Disneyland" name="Actividad[0].Nombre">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInput">Descripci&oacute;n</label>
                          <textarea class="form-control" name="Actividad[0].Descripcion"></textarea>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label class="control-label" for="actividadphoto">Imagen Actividad</label>
                          <input type="file" id="actividadphoto" name="fotoActividad_2">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInputName2">Duraci&oacute;n(min)</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="ej. 120" name="Actividad[1].Duracion">
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <!-- RADIOBOX -->
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="Actividad[1].Activar">
                            <span class="custom-control-indicator"></span>
                          </label>
                          <!-- /RADIOBOX -->
                          <label for="exampleInputName3">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName3" placeholder="ej. Disneyland" name="Actividad[1].Nombre">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInput2">Descripci&oacute;n</label>
                          <textarea class="form-control" name="Actividad[1].Descripcion"></textarea>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label class="control-label" for="actividadphoto">Imagen Actividad</label>
                          <input type="file" id="actividadphoto" name="fotoActividad_3">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInputName2">Duraci&oacute;n(min)</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="ej. 120" name="Actividad[2].Duracion">
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <!-- RADIOBOX -->
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="Actividad[2].Activar">
                            <span class="custom-control-indicator"></span>
                          </label>
                          <!-- /RADIOBOX -->
                          <label for="exampleInputName4">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName4" placeholder="ej. Disneyland" name="Actividad[2].Nombre">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInput3">Descripci&oacute;n</label>
                          <textarea class="form-control" name="Actividad[2].Descripcion"></textarea>
                        </div>
                      </div>
                    </div>

                    <hr>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label class="control-label" for="actividadphoto">Imagen Actividad</label>
                          <input type="file" id="actividadphoto" name="fotoActividad_4">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInputName2">Duraci&oacute;n(min)</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="ej. 120" name="Actividad[3].Duracion">
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <!-- RADIOBOX -->
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="Actividad[3].Activar">
                            <span class="custom-control-indicator"></span>
                          </label>
                          <!-- /RADIOBOX -->
                          <label for="exampleInputName5">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName5" placeholder="ej. Disneyland" name="Actividad[3].Nombre">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInput4">Descripci&oacute;n</label>
                          <textarea class="form-control" name="Actividad[3].Descripcion"></textarea>
                        </div>
                      </div>
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="title-direccion">Contacto</div>

        <div class="row">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Direcci&oacute;n</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="Ingrese direcci&oacute;n..." name="Direccion">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="form-group form-group-correo">
              <label for="email" class="col-sm-2 control-label">Correo</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com" name="Correo">
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group form-group-telefono">
              <label for="telefono" class="col-sm-2 control-label">Tel&eacute;fono</label>
              <div class="col-sm-9">
                <input type="tel" class="form-control" id="telefono" placeholder="N&uacute;mero de tel&eacute;fono..." name="Telefono">
              </div>
            </div>  
          </div>

        </div>                                      

        <div class="row">
          <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Descripci&oacute;n</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="4" name="Descripcion"></textarea>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-5">
            <label for="latitud" class="col-sm-2 control-label label-latitud">Latitud(GD)</label>
            <input type="text" id="latitud" name="Latitud"/>
          </div>
          <div class="col-md-5">
            <label for="longitud" class="col-sm-2 control-label label-longitud">Longitud(GD)</label>
            <div class="col-sm-9">
              <input type="text" id="longitud" name="Longitud" />
            </div>
          </div>

          <div id="map" class="text-center"></div>

        </div>

        <div class="form-group">
          <div class="col-sm-12" align="center">
              <input type="submit" class="btn btn-lugar-turistico-add" value="Agregar"/>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/Lugares_delete-line-tableJS")
  @Scripts.Render("~/bundles/Lugares_insert-line-tableJS")
  @Scripts.Render("~/bundles/Lugares_insert-coordsJS")
  @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyBLZJfuHODaUCPcVW8GwMW6nCXcm3SldgY&callback=initMap")
}
