@Styles.Render("~/bundles/lugares_detailCSS")

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="content-box-carrusel">
        
        <div class="row">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              @foreach (var fotos in Model.Foto)
              {
                <div class="item @if (fotos == Model.Foto[0]) { <text>active</text> }">
                  <img src="@fotos.Ruta" alt="">
                  <div class="carousel-caption"></div>
                </div>
              }

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
          </div>
        </div>


        <div class="content-info-detalle card">
          <div class="row">
            <div class="title-detalle">
              Informaci&oacute;n del lugar tur&iacute;stico
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="name-lugar-turistico text-center">@Model.Nombre</div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-6">
              <div class="subtitle-detalle categoria-detalle">
                Categor&iacute;as
              </div>
              <ul class="list-category">
              @foreach (var categoria in Model.Categoria)
              {

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a class="title-category-collapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          <li>categoria.Nombre</li>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">

                        @foreach (var subCategoria in Model.SubCategoria)
                        {
                          if (subCategoria.CategoriaSuperior == categoria.Id)
                          {
                            <li class="list-subcategory">@subCategoria.Nombre</li>
                          }

                        }


                      </div>
                    </div>
                  </div>
                </div>

              }
              </ul>
            </div>

            <div class="col-md-4 col-md-offset-2">
              <div class="subtitle-detalle categoria-detalle">
                Actividades
                <a href="@Url.Action("ActivityDetail", "Lugares", new { id =  Model.Id })">
                  <i class="fa fa-eye icon-see-detalle" aria-hidden="true"></i>
                </a>
              </div>
              <ul class="list-category">

                @foreach (var actividad in Model.Actividad)
                {

                <li>@actividad.Nombre</li>

                }

              </ul>
            </div>

          </div>

          <hr>

          <div class="row">
            <div class="col-md-6">
              <div class="subtitle-detalle categoria-detalle">
                Horario
              </div>

              <ul class="list-category">

              @foreach (var horario in Model.Horario)
              {
                <li>@Enum.GetName(typeof(DayOfWeek), horario.DiaSemana) @horario.HoraApertura.ToString("hh\\:mm") - @horario.HoraCierre.ToString("hh\\:mm")</li>
              }

              </ul>

            </div>

            <div class="col-md-6">
              <div class="subtitle-detalle categoria-detalle">
                Costo
              </div>

              <ul class="list-category">
                <li>@if (@Model.Costo == 0)
                {
                  <text>Entrada libre</text>
                }
                else
                {
                  <text>BsF. @Model.Costo</text>
                }</li>
              </ul>

            </div>
            
          </div>

          <hr>

          <div class="row">
            
            <div class="subtitle-detalle categoria-detalle">
              Descripci&oacute;n
            </div>

            <p class="text-descripcion-detalle">@Model.Descripcion</p>

          </div>

          <hr>

          <div class="row">
            
            <div class="col-md-6">
              <div class="subtitle-detalle categoria-detalle subtittle-direccion">
                Direcci&oacute;n y Contacto
              </div>

              <address class="address-detalle">
                <strong>@Model.Nombre</strong><br>
                @Model.Direccion<br>
                <abbr title="telefono">telf:</abbr> @Model.Telefono
              </address>

              <address class="address-detalle">
                <a href="mailto:#">@Model.Correo</a>
              </address>
            </div>
            <div class="col-md-6">
              <div class="subtitle-detalle categoria-detalle">
                Ubicaci&oacute;n
              </div>

              <div class="col-md-5">

                <div class="col-sm-9">
                  <input type="text" id="latitud" value="@Model.Latitud" style="display:none;"/>
                </div>
                
                

              </div>
              <div class="col-md-5">

                <div class="col-sm-9">
                  <input type="text" id="longitud" value="@Model.Longitud" style="display:none;"/>
                </div>
              </div>

          <div id="map" class="text-center"></div>
            </div>

          </div>

          <br>

          <div class="row" align="center">
            <a href="@Url.Action("ViewAll", "Lugares")">
              <button class="btn btn-lugar-turistico-actividad">Regresar</button>
            </a>
          </div>



        </div>

    </div>

  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/Lugares_show-coordsJS")
  @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyBLZJfuHODaUCPcVW8GwMW6nCXcm3SldgY&callback=initMap")
}