@Styles.Render("~/bundles/lugares_addCSS")
@Styles.Render("~/bundles/lugares_modifyCSS")

<div class="row">
  <div class="content-form card">
    <br><br>

    <form class="form-horizontal" method="post" action="Modify">
      <div class="form-group form-group-imagen-lugar">
        <label class="col-sm-2 control-label" for="perfilphoto">Im&aacute;gen del lugar</label>
        <input class="col-sm-6" type="file" id="perfilphoto" name="lugarFoto">
        <p class="help-block col-sm-9">La foto seleccionada se ver&aacute; en el lugar tur&iacute;stico</p>
      </div>
      
      <div class="row row-nombre-costo-estado">

        <div class="col-md-4">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label" style="margin-left: -3%; margin-right: 3%;">Nombre</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="Nombre lugar turístico..." value="@Model.Nombre" name="Nombre">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="number" class="col-sm-2 control-label">Costo</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="costo" placeholder="ej. 120" value="@Model.Costo" name="Costo">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="category" class="col-sm-4 control-label">Estado</label>
            <div class="col-sm-8">
              <select class="form-control" id="category" name="activar">
                <option selected disabled>Elige una estado</option>
                <option value="true" @if (Model.Activar)  { <text>selected="true"</text> }>Activo</option>
                <option value="false"@if (!Model.Activar) { <text>selected="true"</text> }>Inactivo</option>
              </select>
            </div>
          </div>
        </div>
      </div>


       <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 ifass="panel-title">

                  <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Categor&iacute;as y Subcategor&iacute;as
                  </div>

                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                @if (Model.Categoria != null)
                {
                  foreach (var categoria in Model.Categoria)
                  {
                    int contador = 0;

                    <div class="row">

                      <div class="col-md-5">
                        <div class="form-group ">
                          <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                          <div class="col-sm-8">
                            <select class="form-control" id="categoria" name="categoria_@(contador + 1) ">
                              <option selected disabled>Elige una categor&iacute;a</option>

                              <option>@categoria.Nombre</option>


                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-5">
                        <div class="form-group">
                          <label for="subcategoria" class="col-sm-4 control-laahgbel">Sub-Categor&iacute;a</label>
                          <div class="col-sm-8">
                            <select class="form-control" id="subcategoria" name="subcategoria_@(contador + 1) ">
                              <option selected disabled>Elige una sub-categor&iacute;a</option>

                              @foreach (var subCategoria in ViewBag.SubCategoria)
                              {

                                if (subCategoria.CategoriaSuperior == categoria.Id)
                                {
                                  <option>@subCategoria.Nombre</option>
                                }
                              }


                            </select>
                          </div>
                        </div>
                      </div>

                    </div>

                    contador++;
                  }
                }

                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">

                  <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Horarios
                    <i class="fa fa-calendar icon-horario-actividad" aria-hidden="true"></i>
                  </div>

                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

            @if (Model.Horario != null)
            {
               foreach (var horario in Model.Horario)
               {
                 int contador = 0;

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia_@(contador + 1) ">
                          <option selected disabled>Elige d&iacute;a</option>
                          <option @if (horario.DiaSemana == 1)
                          { <text>selected="true"</text> }>Lunes</option>
                          <option @if (horario.DiaSemana == 2)
                          { <text>selected="true"</text> }>Martes</option>
                          <option @if (horario.DiaSemana == 3)
                          { <text>selected="true"</text> }>Miercoles</option>
                          <option @if (horario.DiaSemana == 4)
                          { <text>selected="true"</text> }>Jueves</option>
                          <option @if (horario.DiaSemana == 5)
                          { <text>selected="true"</text> }>Viernes</option>
                          <option @if (horario.DiaSemana == 6)
                          { <text>selected="true"</text> }>Sabado</option>
                          <option @if (horario.DiaSemana == 0)
                          { <text>selected="true"</text> }>Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico..." name="Horario[@contador].HoraApertura" value="@horario.HoraApertura">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico..." name="Horario[@contador].HoraCierre" value="@horario.HoraCierre">
                        </div>
                      </div>
                    </div>
                  </div>

                 contador++;
               }
            }


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">

        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  
                    <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Actividades
                      <i class="fa fa-pencil icon-add-actividad" aria-hidden="true"></i>
                    </div>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <form class="form-inline">

                    @if (Model.Actividad != null)
                    {
                        foreach (var actividad in Model.Actividad)
                        {
                          int contador = 0;

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group form-group-actividad">
                                    <label class="control-label" for="actividadphoto">Im&aacute;gen Actividad</label>
                                    <figure class="imagen-actividad-modificar">
                                      <img class="img-actividad" src="@actividad.Foto.Ruta" alt="">
                                    </figure>
                                    <div class="text-imagen-actividad">
                                      Para cambiar la im&aacute;gen dar click sobre ella.
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="form-group form-group-actividad-descripcion">
                                    <label for="exampleInputName2">Duraci&oacute;n(min)</label>
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="ej. 120" name="Actividad[@contador].Duracion" value="@actividad.Duracion">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group form-group-actividad">
                                    <label for="exampleInputName2">Nombre</label>
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="ej. Disneyland" value="@actividad.Nombre" name="Actividad[@contador].Nombre">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group form-group-actividad-descripcion">
                                    <label for="exampleInput">Descripci&oacute;n</label>
                                    <textarea class="form-control" name="Actividad[@contador].Descripcion">@actividad.Descripcion</textarea>
                                  </div>
                                </div>
                              </div>

                              <hr>

                          contador++;

                        }
                    }

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="title-direccion">Contacto</div>

        <div class="row">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Direcci&oacute;n</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="Ingrese direcci&oacute;n..." value="@Model.Direccion" name="Direccion">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="form-group form-group-correo">
              <label for="email" class="col-sm-2 control-label">Correo</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com" value="@Model.Correo" name="Correo">
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group form-group-telefono">
              <label for="telefono" class="col-sm-2 control-label">Tel&eacute;fono</label>
              <div class="col-sm-9">
                <input type="tel" class="form-control" id="telefono" placeholder="N&uacute;mero de tel&eacute;fono..." value="@Model.Telefono" name="Telefono">
              </div>
            </div>  
          </div>

        </div>

        <div class="row">
          <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Descripci&oacute;n</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="4" name="Descripcion">@Model.Descripcion</textarea>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-5">
            <label for="latitud" class="col-sm-2 control-label label-latitud">Latitud(GD)</label>
            <input type="text" id="latitud" name="Latitud" value="@Model.Latitud"/>
          </div>
          <div class="col-md-5">
            <label for="longitud" class="col-sm-2 control-label label-longitud">Longitud(GD)</label>
            <div class="col-sm-9">
              <input type="text" id="longitud" name="Longitud" value="@Model.Longitud"/>
            </div>
          </div>

          <div id="map" class="text-center"></div>

        </div>

        <div class="form-group">
          <div class="col-sm-12" align="center">
            <a href="@Url.Action("ViewAll", "Lugares")">
              <input type="submit" class="btn btn-lugar-turistico-add" value="Guardar Cambios"/>
            </a>
          </div>
        </div>

      </div>

      
        
    </form>
  </div>
</div>

@Scripts.Render("~/bundles/Lugares_delete-line-tableJS")
@Scripts.Render("~/bundles/Lugares_insert-line-tableJS")
@Scripts.Render("~/bundles/Lugares_insert-coordsJS")
@Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyBLZJfuHODaUCPcVW8GwMW6nCXcm3SldgY&callback=initMap")
